$primarycolor: #f0dc0b;
$secondarycolor: #f5f5f5;
$thirdcolor: #131313;

@keyframes slideFromTop {
  from {
    transform: translateY(-20vh);
    opacity: 0;
  }
}

@keyframes slideFromRight{
  from {
    transform: translateX(5vw);
    opacity: 0;
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Montserrat;
}

body {
  background-color: $thirdcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main {
  width: 1034px;
  height: 596px;
  display:flex;
  margin: 0 100px;

  section {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    background: #f5f5f5;
    border-radius: 24px;
    padding: 30px;
    box-shadow: 0 0 10px 15px #00000045;

    h1 {
      font-size: 90px;
      line-height: 100px;
      color: $thirdcolor;
      animation: 1s slideFromBottom ease;
  
      span {
        font-size: 144px;
        color: $primarycolor;
        animation: 1.3s slideFromBottom ease;
      }
    }

    footer {
      display: flex;
      align-items: center;
      animation: 1s slideFromRight ease;

      a {
        color: $thirdcolor;
        text-decoration: none;

        p {
          margin-left: 10px;
          font-weight: bold;
          font-size: 24px;
        }
      }

      .instagram-icon {
        width: 28px;
        height: 28px;
      }
    }
  }

  a {
    img {
      transform: scale(1.2);
      margin-right: 30px;
    }
  }
}

@media (max-width: 1000px) {
  main {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    transform: scale(0.8);

    section {
      text-align: center;
      animation: 1s slideFromTop ease;

      footer {
        width: 100%;
        justify-content: center;
        margin-top: 50px;
      }
    }

    a {
      img {
        margin: 0;
        margin-left: 15px;
        padding: 50px 0;
        animation: 1s slideFromBottom ease;
      }
    }
  }
}

@media (max-width: 550px) {
  section {
    transform: scale(0.6);
  }
}

@media (max-height: 730px) {
  main {
    transform: scale(0.8);
  }
}

@media (max-height: 580px) {
  main {
    transform: scale(0.7);
  }
}

@media (max-height: 580px) {
  main {
    transform: scale(0.6);
  }
}