@-webkit-keyframes slideFromTop {
  from {
    -webkit-transform: translateY(-20vh);
            transform: translateY(-20vh);
    opacity: 0;
  }
}

@keyframes slideFromTop {
  from {
    -webkit-transform: translateY(-20vh);
            transform: translateY(-20vh);
    opacity: 0;
  }
}

@-webkit-keyframes slideFromLeft {
  from {
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
    opacity: 0;
  }
}

@keyframes slideFromLeft {
  from {
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
    opacity: 0;
  }
}

@-webkit-keyframes slideFromBottom {
  from {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
    opacity: 0;
  }
}

@keyframes slideFromBottom {
  from {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: Montserrat;
}

body {
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

main {
  width: 1056px;
  height: 596px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 100px;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section h1 {
  font-size: 96px;
  line-height: 81px;
  color: #f5f5f5;
  -webkit-animation: 1s slideFromLeft;
          animation: 1s slideFromLeft;
}

main section h1 span {
  font-size: 96px;
  color: #f0dc0b;
}

main section footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: 1s slideFromBottom;
          animation: 1s slideFromBottom;
}

main section footer a {
  color: #f5f5f5;
  text-decoration: none;
}

main section footer a p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 24px;
}

main section footer .material-icons {
  color: #f0dc0b;
}

main img {
  -webkit-animation: 1s slideFromTop;
          animation: 1s slideFromTop;
}

@media (max-width: 775px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  main section {
    text-align: center;
  }
  main section h1 {
    -webkit-animation: 1s slideFromLeft;
            animation: 1s slideFromLeft;
  }
  main section footer {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
    -webkit-animation: 1s slideFromBottom;
            animation: 1s slideFromBottom;
  }
  main img {
    margin: 50px 0;
    margin-left: 7px;
    -webkit-animation: 1s slideFromBottom;
            animation: 1s slideFromBottom;
  }
}

@media (max-width: 380px) {
  main {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-height: 630px) {
  main {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-height: 500px) {
  main {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
/*# sourceMappingURL=styles.css.map */